*.out
*.o
*.zip
.vscode/

homework/hw01/example
homework/hw02/.vstags
homework/hw02/myCat
homework/hw05/test.mtar
codechallenge/2019-01-30/challenge1
codechallenge/2019-02-20/cc01/cc01
codechallenge/2019-02-20/cc01/test.bin
codechallenge/2019-02-22/cc01/cc01
homework/hw02/myCat.zip
homework/hw03/hw03.zip
homework/hw03/my_wc
homework/hw04/hw04.zip
homework/hw04/mFileIO
homework/hw05/hw05-2.zip
homework/hw05/mTar
codechallenge/2019-02-20/cc01/hw05-3.zip
homework/hw05/t/.Rhistory
homework/hw05/t/hw05-1.zip
homework/hw06/mMalloc
livecoding/activity-04/output.txt
livecoding/activity-04/bin/myTee
homework/hw05/text3.txt
homework/hw05/text.txt
homework/hw05/text2.txt
homework/hw08/hw08
homework/hw07/hw07
codechallenge/2019-03-06/output.csv
homework/hw07/text.txt
homework/hw08/test.txt

homework/hw10/output.txt
codechallenge/2019-03-27/text.txt
homework/hw10/error.txt
homework/hw10/input.txt
homework/hw10/hw10
homework/hw10/hw10.png
homework/hw11/hw11
homework/hw12/hw12
homework/hw12/log.txt
homework/hw11/Screenshot from 2019-04-11 13-01-49.png
homework/hw12/pg10.txt
